body{
 padding: 0px;
 margin: 0px;
}

#swfContainer{
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#content{
  width: 100%;
  height: 100%;
}
